<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {% load mathfilters %}
    <title>CHATBOT</title>
</head>
<body>
<div id='chatborder'>
    <form action="/bot/conversation" method="post">
        <input name='length' type="number" value="{{ length }}" readonly hidden>
        {% for key, item in conversation.items %}
            {% if key|mod:2 == 0 %}
                <input type="text" value="{{ item }}" name="message{{ key }}" style="color: green" size="100" readonly>
                <br>
            {% else %}
                <input type="text" value="{{ item }}" name="message{{ key }}" style="color: blue" size="100" readonly>
                <br>
            {% endif %}
        {% endfor %}
        {% csrf_token %}
        <input type="text" name="user_text" id="chatbox" size="50" placeholder="Hi there! Type here to talk to me.">
        <input type="submit" value="Enviar">
    </form>
</div>
</body>
</html>